<!DOCTYPE html>
<html>
    <head>
        <title>Kat's Blog</title>
    </head>
    <body>
        <header>
            <h1>Kat's Blog</h1>
        </header>
        <p>
            Hi there! This is my first Django project.
        </p>

        <article>
            <time>posted on 2026-08-20</time>
            <h2><a href="#">My first post</a></h2>
            <p>This is my first post. I hope you enjoy it!</p>
        </article>

        <article>
            <time>posted on 2026-08-20</time>
            <h2><a href="#">My second post</a></h2>
            <p>This is my second post. I hope you enjoy it!</p>
        </article>
    </body>
</html>